[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4"
graphene-django = "*"
django-graphql-auth = "*"
django-graphql-jwt = "<0.3.2"
graphene = "*"
django-cors-headers = "*"
psycopg2 = "*"
inflection = "*"
numpy = "*"
scikit-learn = "*"

[dev-packages]
pandas = "*"
sqlalchemy = "*"
black = "*"

[requires]
python_version = "3.10"

[scripts]
format = "black ."
