[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4"
graphene-django = "*"
django-graphql-auth = "*"
django-graphql-jwt = "<0.3.2"
graphene = "*"
django-cors-headers = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
